
    <!DOCTYPE html>
    <html>
        <head>
        <style type="text/css">
            body {
              background: url('../static/img/background1.jpg');
              color: rgb(248, 189, 100);
              background-size: cover;
              background-repeat: no-repeat;
            }
          </style>
          <title>Test</title> 
        </head>
    
    <center> <h1> Hybrid Crypto!!! </h1><br><br>
    <meta charset=utf-8>
    <font color="red"><h2>Invalid File Format !</h2></font>
    <form action="/data/" method=post enctype=multipart/form-data>
        <p><input type=file name=file><br><br>
	      Only *.txt files allowed.<br><br>
           <input type=submit value="Upload & Process">
    </form></center>
    </html>